<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Campuses</title>

    </head>

    <body>
        <h1> Here are some information about our campuses .. </h1>

        <h2> San Francisco </h2>
        <p>Click <a href='https://en.wikipedia.org/wiki/San_Francisco' target='_blank'> here </a> for more information . <p>

        <h2> San Diego </h2>
        <p>Click <a href='https://en.wikipedia.org/wiki/San_Diego' target='_blank'> here </a> for more information . <p>

        <h2> Seattle </h2>
        <p>Click <a href='https://en.wikipedia.org/wiki/Seattle' target='_blank'> here </a> for more information . <p>

        <h2> Chicago </h2>
        <p>Click <a href='https://en.wikipedia.org/wiki/Chicago' target='_blank'> here </a> for more information . <p>

        <h2> New York City </h2>
        <p>Click <a href='https://en.wikipedia.org/wiki/New_York_City' target='_blank'> here </a> for more information . <p>



    </body>

</html>
