<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Campus form</title>

    </head>

    <body>
        <form action="/campus" method="POST">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="email" placeholder="E-mail">
        <input type="text" name="campus" placeholder="Campus">
        <button type="submit">Send</button>
        </form>

    </body>

</html>
