<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Campuses</title>

    </head>

    <body>
        <h2> Here are some information about the cities that we have campuses .. </h2>

        <p> <strong>San Francisco </strong></p>
        <p>Click <a href='https://en.wikipedia.org/wiki/San_Francisco' target='_blank'> <em>here</em> </a> for more information . </p>

        <p> <strong>San Diego </strong></p>
        <p>Click <a href='https://en.wikipedia.org/wiki/San_Diego' target='_blank'> <em>here</em> </a> for more information . </p>

        <p> <strong>Seattle </strong></p>
        <p>Click <a href='https://en.wikipedia.org/wiki/Seattle' target='_blank'> <em>here</em> </a> for more information . </p>

        <p> <strong>Chicago </strong></p>
        <p>Click <a href='https://en.wikipedia.org/wiki/Chicago' target='_blank'> <em>here</em> </a> for more information . </p>

        <p> <strong>New York City </strong></p>
        <p>Click <a href='https://en.wikipedia.org/wiki/New_York_City' target='_blank'> <em>here</em> </a> for more information . </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p> If your city is not in the list , click <a href='/campus/form'> here </a> to fill a form to reach us .. Thanks </p>


    </body>

</html>
