<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Submitted</title>
    </head>
    <body>


        <p> Your application has been submitted .. Thnak you .. </p>

    </body>
</html>
