#contact-info{
    font-size: .8em;
}
.job{
  background-color: #e9e5dc;
  border-radius: 20px;
  border-left: 3px;
  padding: 2px;
  margin-left: 3px;
  margin-top: 3px;
}
.list{
  font-size: .8em;
}
